<a href="https://colab.research.google.com/github/ArturHugo/PLN-2022-1/blob/main/Atividade02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 01 - Prática de Expressões Regulares
Grupo:

- Artur Hugo cunha Pereira, 180030400
- Gabriel da Silva Corvino Nogueira, 180113330

In [60]:
import re
import pandas as pd
import nltk

In [47]:
df = pd.read_csv('https://raw.githubusercontent.com/viniciusrpb/cic0269_natural_language_processing/main/corpus_tweets/twitter-2013train-A.txt', sep='\t', names=['id', 'sentiment', 'tweet'])
df

,id,sentiment,tweet
0,264183816548130816,positive,Gas by my house hit $3.39!!!! I\u2019m going t...
1,263405084770172928,negative,Theo Walcott is still shit\u002c watch Rafa an...
2,262163168678248449,negative,its not that I\u2019m a GSP fan\u002c i just h...
3,264249301910310912,negative,Iranian general says Israel\u2019s Iron Dome c...
4,262682041215234048,neutral,Tehran\u002c Mon Amour: Obama Tried to Establi...
...,...,...,...
9679,103158179306807296,positive,RT @MNFootNg It's monday and Monday Night Foot...
9680,103157324096618497,positive,All I know is the road for that Lomardi start ...
9681,100259220338905089,neutral,"All Blue and White fam, we r meeting at Golden..."
9682,104230318525001729,positive,@DariusButler28 Have a great game agaist Tam...
9683,100461938533863424,negative,I'm pisseeedddd that I missed Kid Cudi's show ...

In [132]:
tweet_df = df['tweet'][0:5]
tweet_df

0    Gas by my house hit $3.39!!!! I\u2019m going t...
1    Theo Walcott is still shit\u002c watch Rafa an...
2    its not that I\u2019m a GSP fan\u002c i just h...
3    Iranian general says Israel\u2019s Iron Dome c...
4    Tehran\u002c Mon Amour: Obama Tried to Establi...
Name: tweet, dtype: object

In [87]:
# NLTK resources
nltk.download('punkt')
nltk.download('stopwords')
stemmer = nltk.stem.porter.PorterStemmer()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [125]:
# Helper functions
def tokenize(string):
  res = re.split(r'\'|@\w+|\\u[0-9a-f]{4}', string.lower())
  res = nltk.tokenize.word_tokenize(' '.join(res))
  return res

def filter_stopwords(word_array, stop_list):
  res = [word for word in word_array if word not in stop_list]
  return res

In [133]:
# Tokenizing
tweet_df = tweet_df.apply(tokenize)
tweet_df

0    [gas, by, my, house, hit, $, 3.39, !, !, !, !,...
1    [theo, walcott, is, still, shit, watch, rafa, ...
2    [its, not, that, i, m, a, gsp, fan, i, just, h...
3    [iranian, general, says, israel, s, iron, dome...
4    [tehran, mon, amour, :, obama, tried, to, esta...
Name: tweet, dtype: object

In [141]:
# Remove stop words
stop_list = [element[0] for element in pd.read_csv('https://raw.githubusercontent.com/ravikiranj/twitter-sentiment-analyzer/master/data/feature_list/stopwords.txt', header=None).values]
print(stop_list)
tweet_df = tweet_df.apply(lambda tweet: filter_stopwords(tweet, stop_list))
tweet_df

['a', 'about', 'above', 'across', 'after', 'again', 'against', 'all', 'almost', 'alone', 'along', 'already', 'also', 'although', 'always', 'among', 'an', 'and', 'another', 'any', 'anybody', 'anyone', 'anything', 'anywhere', 'are', 'area', 'areas', 'around', 'as', 'ask', 'asked', 'asking', 'asks', 'at', 'away', 'b', 'back', 'backed', 'backing', 'backs', 'be', 'became', 'because', 'become', 'becomes', 'been', 'before', 'began', 'behind', 'being', 'beings', 'best', 'better', 'between', 'big', 'both', 'but', 'by', 'c', 'came', 'can', 'cannot', 'case', 'cases', 'certain', 'certainly', 'clear', 'clearly', 'come', 'could', 'd', 'did', 'differ', 'different', 'differently', 'do', 'does', 'done', 'down', 'downed', 'downing', 'downs', 'during', 'e', 'each', 'early', 'either', 'end', 'ended', 'ending', 'ends', 'enough', 'even', 'evenly', 'ever', 'every', 'everybody', 'everyone', 'everything', 'everywhere', 'f', 'face', 'faces', 'fact', 'facts', 'far', 'felt', 'few', 'find', 'finds', 'first', 'for', 'four', 'from', 'full', 'fully', 'further', 'furthered', 'furthering', 'furthers', 'g', 'gave', 'general', 'generally', 'get', 'gets', 'give', 'given', 'gives', 'go', 'going', 'good', 'goods', 'got', 'great', 'greater', 'greatest', 'group', 'grouped', 'grouping', 'groups', 'h', 'had', 'has', 'have', 'having', 'he', 'her', 'here', 'herself', 'high', 'higher', 'highest', 'him', 'himself', 'his', 'how', 'however', 'i', 'if', 'important', 'in', 'interest', 'interested', 'interesting', 'interests', 'into', 'is', 'it', 'its', 'itself', 'j', 'just', 'k', 'keep', 'keeps', 'kind', 'knew', 'know', 'known', 'knows', 'l', 'large', 'largely', 'last', 'later', 'latest', 'least', 'less', 'let', 'lets', 'like', 'likely', 'long', 'longer', 'longest', 'm', 'made', 'make', 'making', 'man', 'many', 'may', 'me', 'member', 'members', 'men', 'might', 'more', 'most', 'mostly', 'mr', 'mrs', 'much', 'must', 'my', 'myself', 'n', 'necessary', 'need', 'needed', 'needing', 'needs', 'never', 'new', 'newer', 'newest', 'next', 'no', 'nobody', 'non', 'noone', 'not', 'nothing', 'now', 'nowhere', 'number', 'numbers', 'o', 'of', 'off', 'often', 'old', 'older', 'oldest', 'on', 'once', 'one', 'only', 'open', 'opened', 'opening', 'opens', 'or', 'order', 'ordered', 'ordering', 'orders', 'other', 'others', 'our', 'out', 'over', 'p', 'part', 'parted', 'parting', 'parts', 'per', 'perhaps', 'place', 'places', 'point', 'pointed', 'pointing', 'points', 'possible', 'present', 'presented', 'presenting', 'presents', 'problem', 'problems', 'put', 'puts', 'q', 'quite', 'r', 'rather', 'really', 'right', 'room', 'rooms', 's', 'said', 'same', 'saw', 'say', 'says', 'second', 'seconds', 'see', 'seem', 'seemed', 'seeming', 'seems', 'sees', 'several', 'shall', 'she', 'should', 'show', 'showed', 'showing', 'shows', 'side', 'sides', 'since', 'small', 'smaller', 'smallest', 'so', 'some', 'somebody', 'someone', 'something', 'somewhere', 'state', 'states', 'still', 'such', 'sure', 't', 'take', 'taken', 'than', 'that', 'the', 'their', 'them', 'then', 'there', 'therefore', 'these', 'they', 'thing', 'things', 'think', 'thinks', 'this', 'those', 'though', 'thought', 'thoughts', 'three', 'through', 'thus', 'to', 'today', 'together', 'too', 'took', 'toward', 'turn', 'turned', 'turning', 'turns', 'two', 'u', 'under', 'until', 'up', 'upon', 'us', 'use', 'used', 'uses', 'v', 'very', 'w', 'want', 'wanted', 'wanting', 'wants', 'was', 'way', 'ways', 'we', 'well', 'wells', 'went', 'were', 'what', 'when', 'where', 'whether', 'which', 'while', 'who', 'whole', 'whose', 'why', 'will', 'with', 'within', 'without', 'work', 'worked', 'working', 'works', 'would', 'x', 'y', 'year', 'years', 'yet', 'you', 'young', 'younger', 'youngest', 'your', 'yours', 'z']

0    [gas, house, hit, $, 3.39, !, !, !, !, chapel,...
1    [theo, walcott, shit, watch, rafa, johnny, dea...
2    [gsp, fan, hate, nick, diaz, ., wait, february...
3    [iranian, israel, iron, dome, deal, missiles, ...
4    [tehran, mon, amour, :, obama, tried, establis...
Name: tweet, dtype: object

In [142]:
# Stemming
tweet_df = tweet_df.apply(lambda tweet: [stemmer.stem(word) for word in tweet])
tweet_df

0    [ga, hous, hit, $, 3.39, !, !, !, !, chapel, h...
1    [theo, walcott, shit, watch, rafa, johnni, dea...
2    [gsp, fan, hate, nick, diaz, ., wait, februari...
3    [iranian, israel, iron, dome, deal, missil, (,...
4    [tehran, mon, amour, :, obama, tri, establish,...
Name: tweet, dtype: object