<a href="https://colab.research.google.com/github/ArturHugo/PLN-2022-1/blob/main/Pandafy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Grupo:
- Guilherme Coelho
- Mayara Chew
- Artur Hugo

In [32]:
!pip install krippendorff
from google.colab import drive
import json
import os
import pandas as pd
import regex as re
import krippendorff

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: krippendorff in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from krippendorff) (1.21.6)

In [33]:

drive.mount('/content/gdrive')
# Mudar path conforme necessario
!unzip "/content/gdrive/MyDrive/Colab Notebooks/PLN/tagtog_Pandafy_three.zip"

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
Archive:  /content/gdrive/MyDrive/Colab Notebooks/PLN/tagtog_Pandafy_three.zip
replace Pandafy_three/plain.html/pool/aBgH64yLAMM71GdRyey5h93bUyHy-Pandafy.csv_51.plain.html? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Pandafy_three/plain.html/pool/ac87kGtPaLueYuff9vw5dbCTOPGe-Pandafy.csv_56.plain.html? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [34]:

data = json.load(open('/content/Pandafy_three/ann.json/members/guico3lho/pool/a323dN7fUgvEgfh0ZDjrot9YmUo0-Pandafy.csv_60.ann.json'))

# who: data["metas"]["m_1"]["confidence"]["who"]
# value: data["metas"]["m_1"]["value"][0]
data

{'anncomplete': True,
 'annotatable': {'parts': ['s1s1h1', 's1s1v1', 's1s2h1', 's1s2v1']},
 'entities': [],
 'metas': {'m_1': {'confidence': {'prob': 1,
    'state': 'pre-added',
    'who': ['user:guico3lho']},
   'value': '4'}},
 'relations': [],
 'sources': []}

In [35]:
# lista turugo
labels_turugo = []


dir = "/content/Pandafy_three/ann.json/members/guico3lho/pool"
for filename in os.listdir(dir):
  print(filename)
  file = open(dir+"/"+filename)
  data = json.load(file)
  labels_turugo.append(data["metas"]["m_1"]["value"][0])

ati7r4Euc6WMHGVJMQvgBB18Gq60-Pandafy.csv_1.ann.json
aUdgpFhiq9lEzag8kdGRdA4NtBte-Pandafy.csv_20.ann.json
awHDuLDZZYKgP0cJ3eeWs2WEcgnm-Pandafy.csv_55.ann.json
ajuKLothiCUQZOVRfn0KwHJnbSNu-Pandafy.csv_61.ann.json
aJOmMt5QivoC4ELMrSlsndYU2V1G-Pandafy.csv_5.ann.json
adK50j2UyNfa2QDhFyNHtJtun9q8-Pandafy.csv_64.ann.json
aPRPjBVBQxcaz3zgb93scNXybFk8-Pandafy.csv_30.ann.json
afoI06PTN9.RC1tq9bNviyfO0UpC-Pandafy.csv_3.ann.json
a43CsbqhpjwjGPYe2wjNEDfGylrC-Pandafy.csv_91.ann.json
aT_UzSp1nOftBjZRElm.Aj3Jje.S-Pandafy.csv_23.ann.json
a4UmvMDMHCtW6DB4s7EmrDxvcOPS-Pandafy.csv_50.ann.json
acM_ICpwsFLc6tzhzUmMwTu44jYC-Pandafy.csv_74.ann.json
a5Bvh2ho3hYJSE4j.2zzzuMgA4u8-Pandafy.csv_62.ann.json
amSIQth7GOFqdPEbldcQ.Py8cB1e-Pandafy.csv_73.ann.json
auB8LjG6gXGoAOc.Q.ow608Vcvea-Pandafy.csv_92.ann.json
ax4ufQw0hMxoJDTlYjOH4g6zM6EC-Pandafy.csv_98.ann.json
aPuqSoC5TOD7XMHUGH6wIgWA47me-Pandafy.csv_24.ann.json
abP2F6sf_zLseBgvwXSvbjXEbllW-Pandafy.csv_29.ann.json
aK.xW8cqeZviGH6pOU3a3Q6diLHK-Pandafy.csv_32.ann.json
aeiPcW1N0H6YCvj0wJHrMCkVSblS-Pandafy.csv_7.ann.json
ahLhXkX4M0e4Ho01lB9Oc5uivAOe-Pandafy.csv_82.ann.json
aMbWD1lsBpW8vblOQYocO7Ezi4Ie-Pandafy.csv_18.ann.json
awA.VU_GoG35eQijOL3GndEPCBA0-Pandafy.csv_86.ann.json
aDhSNkEXKAHjklqzmjNL711EtAXO-Pandafy.csv_90.ann.json
a1_siPiIKxzkrtl5piJXw8EJu2_a-Pandafy.csv_10.ann.json
adnHnwrQ0yIq.1Grx0uaQTHzYWFW-Pandafy.csv_85.ann.json
awg8ibSxETKZr_GRGqlOVnXWIrB8-Pandafy.csv_66.ann.json
aMPc9xjEmc5emn5zo8DnvQJ7ozMm-Pandafy.csv_4.ann.json
a5SUvTBQ1Ww8Zm69xh67Ekr88nb0-Pandafy.csv_42.ann.json
aKlr89nYfGABMyR3rBt1E7jtp8xa-Pandafy.csv_43.ann.json
axgZ68ytgwGBMHLGTeE5qXCrD2xS-Pandafy.csv_40.ann.json
aOQQWXkyXHFrGf_pr5gI2t66zTdm-Pandafy.csv_12.ann.json
aHleqCQGbGJpBVzT6LiK8b7rmVDy-Pandafy.csv_67.ann.json
aF8vFPn_IvpgUhaS245mA6jjPc0W-Pandafy.csv_47.ann.json
aBgH64yLAMM71GdRyey5h93bUyHy-Pandafy.csv_51.ann.json
ajgQWk2Sx5FY.a6TS1YttxUfG9Gu-Pandafy.csv_80.ann.json
ac87kGtPaLueYuff9vw5dbCTOPGe-Pandafy.csv_56.ann.json
aWQKGEwbX_aTYrTyvaxs7TwcXbT4-Pandafy.csv_17.ann.json
afaQAjnWCw.zmdl3xc1KFrkXm3V8-Pandafy.csv_14.ann.json
ac3q4cQdcbIJc8WqTOjdQXVYyG_W-Pandafy.csv_79.ann.json
aeyJNcg1gJodPkS5rmS6UvP0rTAa-Pandafy.csv_37.ann.json
aeuVsr9MBx_UleQAKAqWoYD.A07u-Pandafy.csv_54.ann.json
a38NuAicrJp2ngKM1JFQFdQLNWpC-Pandafy.csv_81.ann.json
auxH4k42Q6HVNILGHy_lrS9x6lXa-Pandafy.csv_84.ann.json
a6PkgwZHZsmDHW7ZVu5G_ywXnEje-Pandafy.csv_15.ann.json
akbGJtbVZjCMX0BPVtXbjUeZQiGa-Pandafy.csv_28.ann.json
aaoeg_LCpDL8YSF16CIsNfbOe9LS-Pandafy.csv_99.ann.json
aDe_MMFLu0ouz9alCVQlDYc8hHoC-Pandafy.csv_26.ann.json
azKBhoBgoL6MYvq2jF0qNMGYaHgK-Pandafy.csv_78.ann.json
aHufFc78ILWIjUerwq55a.km2_48-Pandafy.csv_25.ann.json
angxDmgv6p_amWdMhZXFsKojVNoW-Pandafy.csv_94.ann.json
apODitiJipUs4BvkLZXZk99Fy1KS-Pandafy.csv_22.ann.json
az1jpt69yfbaefz5B3UYobU15DNC-Pandafy.csv_88.ann.json
a6BBmPNDWeydLkkzq7kvCm8Xcy7C-Pandafy.csv_31.ann.json
acdqZ819TRY4aXDdmOguHfM.oLKC-Pandafy.csv_19.ann.json
aT8thSHNM4GyeijZ_zUXtIU9ZuRW-Pandafy.csv_36.ann.json
aHrPSPgYgAje_a70F6JuF3Li7Ewu-Pandafy.csv_21.ann.json
ak976Deg0IUYPQvovRW2ktt1dBqS-Pandafy.csv_39.ann.json
aQwmsTAn3q460QIMKMUPZRl0BF68-Pandafy.csv_44.ann.json
aFJiBP0I6TcIXWSeWguixUyCdvPq-Pandafy.csv_52.ann.json
aFK1qBQ2zobtr.WbcmDQNhGhVXVG-Pandafy.csv_58.ann.json
axAP3ViYTCRb_AkXKU8uDP4AplKK-Pandafy.csv_77.ann.json
aUktM02X1ENDokMHLIWahJjWayWu-Pandafy.csv_9.ann.json
a4vgNS9OX4uE4oXzfT.l0lwTXlBC-Pandafy.csv_59.ann.json
ah8jUebh50OsDVYoqlLDhhb_GVYG-Pandafy.csv_93.ann.json
aAfOtwbCMsEGTyF6FabY8u.fHVYS-Pandafy.csv_33.ann.json
alm8bt0aEwglC_DXvYWWHXGEUFDG-Pandafy.csv_34.ann.json
af._77U4AgeAsgorTeNwEIUhRqte-Pandafy.csv_75.ann.json
aidwHKP3y_9kAlQiMPFnDA1tjpNi-Pandafy.csv_8.ann.json
ajNKoa4RkTJF1FvUnZ5qoQDDnRHy-Pandafy.csv_46.ann.json
aLNPLYONKWMzHLHn08b6Onf3huQ4-Pandafy.csv_96.ann.json
aTWW9NVJtO.kmQnJHAxTd9xEcf1O-Pandafy.csv_11.ann.json
a323dN7fUgvEgfh0ZDjrot9YmUo0-Pandafy.csv_60.ann.json
aCQQdvdB0bWXRF7cLsNvy1poNTVG-Pandafy.csv_97.ann.json
acBGEHeS1tdVvIrf20wY4xRL4R.i-Pandafy.csv_6.ann.json
aiQzguok1nNOoLHMq9r_268zHnsy-Pandafy.csv_38.ann.json
aPKACNJJgjuOEeJ5uk8_ESGV70p8-Pandafy.csv_63.ann.json
aUroUZ6lUKzTpwNOdBYoUdYfNnSS-Pandafy.csv_72.ann.json
aCjIQ2IVRZ4ZMoVPlM5x7.l760ou-Pandafy.csv_41.ann.json
ad4wh7ZRJZlvFulgzM3xsdQFJGBm-Pandafy.csv_89.ann.json
aldV6BhvnURx.dx091qBoeq7L3n8-Pandafy.csv_100.ann.json
aqWb_nfiNVlQKpPHRZBGxpPD3XuK-Pandafy.csv_13.ann.json
anwU7QqfONwjXufVd9DYPHexDbM4-Pandafy.csv_48.ann.json
ajyIGiNfQxuFdlvvQrIcP4MiOmhy-Pandafy.csv_49.ann.json
af9CdlyPejrBlHysdfIBbl7UUBci-Pandafy.csv_95.ann.json
aaNWCAA0Y3wNFM1tF4wKNKY3nLT4-Pandafy.csv_57.ann.json
an.aWbHmsl.8tP7S0I2DnwrjJuka-Pandafy.csv_70.ann.json
ajqa56XZmcs0kW7sRYd6hsW6347y-Pandafy.csv_71.ann.json
adawp6W9kVp1Qjp9NfsLM5VDDH1K-Pandafy.csv_27.ann.json
aNaSHQnlci4hRmQozc9Uz6UlAiCG-Pandafy.csv_65.ann.json
aW9LZ5pgHFiW0D_qT4ObfmkH8WMK-Pandafy.csv_2.ann.json
aIB_YxQgTvmPUwlLFJWwSXo4N73e-Pandafy.csv_68.ann.json
aHBfeBaCgtvq6u.SWq61yydVt658-Pandafy.csv_87.ann.json
arJSX6VDpUse2NL6UK5QK7O9i3Sm-Pandafy.csv_16.ann.json
atfP1W3gwLamzP_cU54yFbZyFX9u-Pandafy.csv_83.ann.json
a5EduVc_z5riZphjEN.hTwvm8wHa-Pandafy.csv_35.ann.json
ahjQJLk1ax0MXQnE.SZQGwtMEVbq-Pandafy.csv_53.ann.json
aYzALWL031n6P.zy5ybkxKM3IPue-Pandafy.csv_45.ann.json
aQbgcjoWZGzt19XveoeYVQFIX.mq-Pandafy.csv_69.ann.json
aYLsHfGdfXI_WkokOA9jeW36w2fW-Pandafy.csv_76.ann.json

In [36]:
# lista mayara
labels_mayara = []

list_index = []


dir = "/content/Pandafy_three/ann.json/members/mayarachew/pool"
for filename in os.listdir(dir):
  file = open(dir+"/"+filename)
  data = json.load(file)
  labels_mayara.append(data["metas"]["m_1"]["value"][0])
  list_index.append(re.search(r'_(\d*)\.', filename).group(1))

In [53]:
df = pd.DataFrame(index=list_index, columns=['may','turugo'])
df['may'] = [int(value) for value in labels_mayara]
df['turugo'] = [int(value) for value in labels_turugo]
df = df.transpose()
df

,1,20,55,61,5,64,30,3,91,23,...,2,68,87,16,83,35,53,45,69,76
may,2,2,5,4,2,3,5,2,2,2,...,5,4,5,3,2,5,2,3,3,1
turugo,3,3,5,4,2,3,5,3,2,3,...,5,4,4,4,3,5,3,4,3,2

In [54]:
print("Krippendorff's alpha for nominal metric: ", krippendorff.alpha(reliability_data=df.values,
                                                                          level_of_measurement="nominal"))
print("Krippendorff's alpha for interval metric: ", krippendorff.alpha(reliability_data=df.values))

Krippendorff's alpha for nominal metric:  0.5854976241619475
Krippendorff's alpha for interval metric:  0.8832073949086641